<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="sharpberry.gpio.IGpioProxy, sharpberry" mapTo="sharpberry.gpio.RPiGpio, sharpberry" />
      <register type="sharpberry.controllers.IController, sharpberry" mapTo="sharpberry.controllers.BluetoothController, sharpberry" name="bluetooth"/>
      <register type="sharpberry.controllers.IController, sharpberry" mapTo="sharpberry.controllers.DataController, sharpberry" name="data"/>
      <register type="sharpberry.controllers.IController, sharpberry" mapTo="sharpberry.controllers.LedController, sharpberry" name="led"/>
      <register type="sharpberry.controllers.IController, sharpberry" mapTo="sharpberry.controllers.PowerController, sharpberry" name="power"/>
      <register type="sharpberry.data.IDataProvider, sharpberry.data" mapTo="sharpberry.data.MongoDataProvider, sharpberry.data" />
      <register type="sharpberry.data.IDataCollector, sharpberry.data" mapTo="sharpberry.data.collection.ObdCollector, sharpberry.data" name="obd" />
      <register type="sharpberry.data.IDataCollector, sharpberry.data" mapTo="sharpberry.data.collection.GpsCollector, sharpberry.data" name="gps" />
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.13.0" newVersion="4.1.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DataCollection.CollectionInterval" value="1500"/>
  </appSettings>
</configuration>